@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 16px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 16px; } }

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0; }

a {
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden; }

.container {
  margin: 0 auto;
  max-width: 940px;
  width: 95%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section {
  width: 100%;
  height: 100vh;
  min-height: 650px; }

.title {
  font-size: 4.5rem;
  font-family: "gagalin";
  text-transform: uppercase;
  font-weight: 700; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.5625rem; }

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__logo {
  width: 10.5%;
  min-width: 5rem; }

.logo__img {
  width: 100%; }

.nav__list {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .nav__list {
      display: none; } }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__item:after {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  font-family: 'ubuntu';
  font-weight: 500;
  font-size: 0.8125rem;
  color: #fff;
  letter-spacing: 0.06px;
  text-transform: uppercase; }

.order-btn {
  display: inline-block;
  border-radius: 5px;
  padding: 0.5625rem 1.0625rem;
  font-size: 0.8125rem;
  color: #fff;
  text-transform: uppercase;
  background-color: #e25028; }
  .order-btn:hover {
    background-color: #912e13; }

.hamburger-menu-link {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1.875rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.hamburger-menu-link__bars, .hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem; }

.hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  content: "";
  display: block;
  position: absolute; }

.hamburger-menu-link__bars:before {
  top: 0; }

.hamburger-menu-link__bars:after {
  bottom: 0; }

.hello-block {
  background: url(../img/hello_section/video-bg.jpg) 0 0 no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.hello-block__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.hello-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.8;
  -ms-flex: 0.8;
  flex: 0.8; }
  @media screen and (max-width: 768px) {
    .hello-block__container {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%; } }

.hello-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 3%; }
  @media screen and (max-width: 768px) {
    .hello-block__content {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center; } }

.hello-block__pic-wrap {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .hello-block__pic-wrap {
      width: 100%; } }

.hello-block__picture {
  width: 100%;
  max-width: 480px;
  min-width: 360px; }

.hello-block__slogan {
  width: 50%;
  padding-top: 1.875rem; }
  @media screen and (max-width: 768px) {
    .hello-block__slogan {
      padding-top: 0;
      width: 90%; } }

.title--slogan {
  color: #f8b43a;
  white-space: nowrap; }

.slogan__text {
  font-size: 4.0625rem;
  font-family: "lifehack";
  color: #fff;
  line-height: 0.98; }

.forward-arrow {
  position: absolute;
  bottom: 9%;
  left: 49.5%; }

.forward-arrow__pic {
  width: 29px;
  height: 14px;
  fill: white; }

.best {
  background: url(../img/best_section/bg.jpg) 0 0 no-repeat;
  background-size: cover; }

.title--best {
  text-align: center;
  margin-bottom: 1.875rem; }
  @media screen and (max-width: 480px) {
    .title--best {
      font-size: 3.125rem;
      padding-left: 1.5625rem;
      margin-bottom: 1.25rem; } }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .best__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }

.best__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: center;
  width: calc(100%/3); }
  @media screen and (max-width: 480px) {
    .best__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      margin-bottom: 2.8125rem; } }

.best__item div {
  text-align: center;
  height: 7.5rem; }
  @media screen and (max-width: 480px) {
    .best__item div {
      text-align: left;
      margin-right: 2.1875rem; }
      .best__item div:last-child {
        margin-right: 0; } }

.best__item svg {
  width: 97px;
  height: 89px; }

.best__item h3 {
  font-family: "lifehack";
  font-size: 1.5625rem;
  line-height: 1.27;
  margin-bottom: 0.8125rem; }
  @media screen and (max-width: 480px) {
    .best__item h3 {
      margin-bottom: 0.625rem;
      white-space: nowrap; } }

.best__item p {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.7; }

.team {
  background: url(../img/team_section/team-bg.jpg) 0 0 no-repeat;
  background-size: cover;
  position: relative; }

.team__right-col {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(47, 50, 52, 0.93);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .team__right-col {
      width: 100%; } }

.team__content {
  width: 70%;
  padding-left: 0.625rem; }
  @media screen and (max-width: 768px) {
    .team__content {
      text-align: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .team__content {
      width: 100%;
      padding-left: 30px; } }

.title--team {
  color: #f8b43a;
  margin-bottom: 1.5625rem; }
  @media screen and (max-width: 480px) {
    .title--team {
      font-size: 2.8125rem;
      letter-spacing: 0.1875rem;
      padding-left: 0.625rem;
      margin-bottom: 15px; } }

.v-accordeon__item {
  margin-bottom: 1.375rem; }
  @media screen and (max-width: 768px) {
    .v-accordeon__item {
      margin-bottom: 0; } }
  @media screen and (max-width: 480px) {
    .v-accordeon__item {
      margin-bottom: 5px; } }

.v-accordeon__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 0; }
  @media screen and (max-width: 768px) {
    .v-accordeon__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 1.25rem; } }

.v-accordeon__item--active .v-accordeon__name {
  color: #f8b43a; }
  .v-accordeon__item--active .v-accordeon__name:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #f8b43a;
    border-top-width: 0;
    margin-right: 0.3125rem; }

.v-accordeon__item--active .v-accordeon__content {
  min-height: 7.8125rem;
  height: auto; }

.v-accordeon__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'gagalin';
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 0.625rem; }
  .v-accordeon__name:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: white;
    border-bottom-width: 0;
    margin-right: 0.3125rem; }
  @media screen and (max-width: 768px) {
    .v-accordeon__name {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 1.5625rem; } }

.pic-wrap {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #fff;
  position: relative;
  margin-right: 0.6875rem; }
  @media screen and (max-width: 768px) {
    .pic-wrap {
      margin-bottom: 1.25rem;
      margin-right: 0; } }

.content__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.content__description {
  width: 60%; }
  @media screen and (max-width: 768px) {
    .content__description {
      text-align: center; } }

.content__title {
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem; }

.content__text {
  font-size: 0.875rem;
  font-weight: 300;
  color: #fff;
  line-height: 1.6; }

.menu {
  background: url(../img/menu_section/menu-bg.jpg) center center/cover no-repeat;
  position: relative; }

.title--menu {
  position: absolute;
  top: 10%;
  left: 9%;
  color: white; }
  @media screen and (max-width: 768px) {
    .title--menu {
      left: 3%; } }
  @media screen and (max-width: 480px) {
    .title--menu {
      font-size: 3.125rem;
      left: 13%;
      top: 5%; } }

.h-accordeon__list {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(47, 50, 52, 0.93); }

.h-accordeon__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.h-accordeon__content {
  width: 0;
  display: none;
  overflow: hidden;
  height: 100%; }

.h-accordeon__content-text {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 300;
  padding-top: 3.75rem;
  padding-left: 2rem;
  line-height: 1.72; }

.h-accordeon__content--active {
  width: 33.75rem;
  display: block; }

.h-accordeon__trigger {
  display: block;
  height: 100%;
  width: 5rem;
  position: relative; }
  .h-accordeon__trigger--meat {
    background: url(../img/menu_section/accord_meat.jpg) center center/cover no-repeat; }
  .h-accordeon__trigger--vegetarian {
    background: url(../img/menu_section/accord_vegetarian.jpg) 90% center/cover no-repeat; }
  .h-accordeon__trigger--diet {
    background: url(../img/menu_section/accord_diet.jpg) 90% center/cover no-repeat; }
  .h-accordeon__trigger:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(71, 74, 75, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9; }
  @media screen and (max-width: 768px) {
    .h-accordeon__trigger {
      width: 4.6875rem; } }
  @media screen and (max-width: 480px) {
    .h-accordeon__trigger {
      width: 4.375rem; } }

.h-accordeon__title {
  font-family: 'gagalin';
  color: white;
  font-size: 2.5rem;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  left: 50%;
  top: 100%;
  margin-top: -20px;
  z-index: 10; }

.feedback__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  font-size: 0; }

.feedback__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 25%;
  height: 50vh;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .feedback__item:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 9;
    -webkit-transition: 0.3;
    -o-transition: 0.3;
    transition: 0.3; }
  .feedback__item:hover .feedback__content {
    opacity: 1; }
  .feedback__item:hover:after {
    opacity: 0.6; }
  @media screen and (max-width: 768px) {
    .feedback__item {
      width: 50%;
      height: 25vh; } }

.feedback__content {
  position: absolute;
  top: 14%;
  left: 7%;
  opacity: 0;
  z-index: 10;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .feedback__content {
      left: 14%;
      width: 75%;
      margin: 0 auto; } }

.feedback__subtitle {
  font-size: 0.875rem;
  font-family: "gagalin";
  margin-bottom: 1.25rem;
  color: #fff;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .feedback__subtitle {
      margin-bottom: 0.625rem; } }
  @media screen and (max-width: 480px) {
    .feedback__subtitle {
      font-size: 1.5625rem; } }

.feedback__text {
  font-size: 0.875rem;
  color: #fff;
  width: calc(210/275*100%);
  line-height: 1.72;
  margin-bottom: 0.6875rem; }
  @media screen and (max-width: 768px) {
    .feedback__text {
      width: 100%;
      margin-bottom: 10px; } }
  @media screen and (max-width: 480px) {
    .feedback__text {
      display: none; } }

.feedback__btn {
  display: inline-block;
  padding: 0.625rem 0.9375rem;
  font-size: 0.8125rem;
  background-color: #2f3234;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: 500; }
  .feedback__btn:hover {
    background-color: black; }
  @media screen and (max-width: 480px) {
    .feedback__btn {
      display: none; } }

.feedback__btn--mobile {
  display: none; }
  @media screen and (max-width: 480px) {
    .feedback__btn--mobile {
      display: block; } }

.order {
  background: url(../img/order_section/order-bg.jpg) 0 0/cover no-repeat;
  color: #fff; }

.order__container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.title--order {
  color: #f8b43a;
  margin-bottom: 1.25rem; }

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.form__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  margin-right: 1.25rem; }
  .form__col:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .form__col {
      width: 66%; } }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.9375rem; }

.form__title {
  font-size: 0.875rem;
  font-weight: 300;
  margin-bottom: 0.3125rem; }

.form__block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__input {
  border: none;
  border-radius: 5px;
  padding: 0.625rem 0.9375rem;
  width: 100%; }
  .form__input--textarea {
    height: 110px;
    resize: none; }

.form__radio-lbl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-right: 0.9375rem; }

.form__custom-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  margin-right: 0.5rem; }

.form__radio {
  position: absolute;
  left: -999999px; }
  .form__radio:checked ~ .form__custom-radio:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #e25028;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.form__custom-check {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #fff;
  position: relative;
  margin-right: 0.625rem; }

.form__check {
  position: absolute;
  left: -99999px; }
  .form__check:checked + .form__custom-check::after {
    content: '';
    display: block;
    height: 7px;
    width: 10px;
    border-left: 4px solid #e25028;
    border-bottom: 4px solid #e25028;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -60%) rotate(-45deg);
    -ms-transform: translate(-50%, -60%) rotate(-45deg);
    transform: translate(-50%, -60%) rotate(-45deg); }

.button {
  border: 0;
  cursor: pointer;
  margin-right: 0.625rem; }

.reset-btn {
  background: transparent;
  color: white;
  font-size: 0.875rem;
  font-weight: 300; }

.map {
  background: url(../img/map_section/map-bg.jpg) center center/cover no-repeat;
  position: relative; }

.footer {
  height: 3.75rem;
  background: url(../img/map_section/footer-bg.jpg);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff; }

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.footer__col {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer__col--right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.contacts__address {
  font-size: 0.875rem;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 700;
  color: #e25028; }

.contacts__phone-icon {
  fill: #e25028;
  width: 13px;
  height: 11px;
  margin-right: 0.625rem; }

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.socials__item {
  margin-right: 1.25rem; }
  .socials__item:last-child {
    margin-right: 0; }

.socials__icon {
  width: 20px;
  height: 20px;
  fill: #5c5c5c; }
  .socials__icon:hover {
    fill: #fff; }

.pagination {
  position: fixed;
  top: 15%;
  right: 5%;
  z-index: 50; }
  @media screen and (max-width: 768px) {
    .pagination {
      display: none; } }

.pagination__item {
  margin-bottom: 15px; }
  .pagination__item:last-child {
    margin-bottom: 0; }

.pagination__link {
  display: block;
  position: relative; }
  .pagination__link:before {
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #fff; }
  .pagination__link:hover:after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10; }

/*# sourceMappingURL=main.css.map */