@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0; }

a {
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  position: relative;
  overflow: hidden; }

.container {
  margin: 0 auto;
  max-width: 940px;
  width: 95%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section {
  width: 100%;
  height: 100vh;
  min-height: 650px; }

.title {
  font-size: 72px;
  font-family: "gagalin";
  text-transform: uppercase;
  font-weight: 700; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.5625rem; }

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__list {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0.9375rem; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__item:after {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 15px;
    margin-right: 15px; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  font-family: 'ubuntu';
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  letter-spacing: 0.06px;
  text-transform: uppercase; }

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.order__btn {
  display: inline-block;
  border-radius: 5px;
  padding: 0.5625rem 1.0625rem;
  font-size: 0.8125rem;
  color: #fff;
  text-transform: uppercase;
  background-color: #e25028; }
  .order__btn:hover {
    background-color: #912e13; }

.hello-block {
  background: url(../img/hello_section/video-bg.jpg) 0 0 no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.hello-block__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.hello-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.8;
  -ms-flex: 0.8;
  flex: 0.8; }

.hello-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 3%;
  -ms-flex-item-align: center;
  align-self: center; }

.hello-block__pic-wrap {
  float: left;
  position: relative;
  width: 50%; }

.hello-block__picture {
  width: 100%; }

.hello-block__slogan {
  width: 50%;
  padding-top: 1.875rem; }

.title--slogan {
  color: #f8b43a; }

.slogan__text {
  font-size: 4.0625rem;
  font-family: "lifehack";
  color: #fff;
  line-height: 0.98; }

.forward-arrow {
  position: absolute;
  bottom: 9%;
  left: 49.5%; }

.best {
  background: url(../img/best_section/bg.jpg) 0 0 no-repeat;
  background-size: cover; }

.title--best {
  text-align: center;
  margin-bottom: 1.875rem; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.best__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: center;
  width: calc(100%/3); }

.best__item > div {
  text-align: center;
  height: 7.5rem; }

.best__item h3 {
  font-family: "lifehack";
  font-size: 1.5625rem;
  line-height: 1.27;
  margin-bottom: 0.8125rem; }

.best__item p {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.7; }

.team {
  background: url(../img/team_section/team-bg.jpg) 0 0 no-repeat;
  background-size: cover;
  position: relative; }

.team__right-col {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: rgba(47, 50, 52, 0.93); }

.team__content {
  padding-top: 90px;
  padding-left: 100px; }

.title--team {
  color: #f8b43a;
  margin-bottom: 25px; }

.v-accordeon__item {
  width: 366px;
  margin-bottom: 22px; }

.v-accordeon__content {
  padding-left: 20px;
  overflow: hidden;
  height: 0; }

.v-accordeon__item--active .v-accordeon__name {
  color: #f8b43a; }
  .v-accordeon__item--active .v-accordeon__name:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #f8b43a;
    border-top-width: 0;
    margin-right: 5px; }

.v-accordeon__item--active .v-accordeon__content {
  height: initial; }

.v-accordeon__name {
  text-align: left;
  font-family: 'gagalin';
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px; }
  .v-accordeon__name:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: white;
    border-bottom-width: 0;
    margin-right: 5px; }

.pic-wrap {
  display: inline-block;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #fff;
  position: relative;
  margin-right: 11px; }

.content__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.content__description {
  display: inline-block;
  text-align: left;
  width: 60%;
  vertical-align: top; }

.content__title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 16px; }

.content__text {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  line-height: 1.6; }

.menu {
  background: url(../img/menu_section/menu-bg.jpg) 0 0 no-repeat;
  background-size: cover;
  position: relative; }

.title--menu {
  position: absolute;
  top: 13%;
  left: 9%;
  color: white; }

.menu__right-col {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  background-color: rgba(47, 50, 52, 0.93); }

.h-accordeon {
  height: 100%; }

.h-accordeon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 100%; }

.h-accordeon__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.h-accordeon__content {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-top: 10px; }

.h-accordeon__content--active {
  width: 540px;
  white-space: normal; }

.h-accordeon__title {
  font-family: 'gagalin';
  color: white;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  width: 80px;
  line-height: 100%;
  font-size: 40px;
  height: 100%;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding-top: 43px;
  padding-left: 15px;
  background-size: auto; }

.h-accordeon__title--meat {
  background: url(../img/menu_section/accord_meat.jpg) 0 0 no-repeat; }

.h-accordeon__title--vegetarian {
  background: url(../img/menu_section/accord_vegetarian.jpg) 0 0 no-repeat; }

.h-accordeon__title--diet {
  background: url(../img/menu_section/accord_diet.jpg) 0 0 no-repeat; }

.feedback__list {
  width: 100%;
  font-size: 0; }

.feedback__item {
  display: inline-block;
  overflow: hidden;
  width: 25%;
  height: 50vh;
  position: relative; }
  .feedback__item:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 9;
    -webkit-transition: 0.3;
    -o-transition: 0.3;
    transition: 0.3; }
  .feedback__item:hover .feedback__content {
    opacity: 1; }
  .feedback__item:hover:after {
    opacity: 0.6; }

.feedback__content {
  position: absolute;
  top: 14%;
  left: 7%;
  opacity: 0;
  z-index: 10; }

.feedback__subtitle {
  font-size: 0.875rem;
  font-family: "gagalin";
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase; }

.feedback__text {
  font-size: 14px;
  color: #fff;
  width: calc(210/275*100%);
  line-height: 1.72;
  margin-bottom: 11px; }

.feedback__btn {
  width: 110px;
  height: 35px;
  font-size: 13px;
  background-color: #2f3234;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: 500;
  line-height: 35px;
  cursor: pointer; }
  .feedback__btn:hover {
    background-color: black; }

.feedback__avatar {
  position: relative;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  z-index: 1; }

.feedback__avatar--long {
  width: 100%;
  height: initial; }

.feedback__avatar--pic3 {
  right: 25%; }

.feedback__avatar--pic4 {
  right: 25%; }

.feedback__avatar--pic5 {
  right: 25%; }

.feedback__avatar--pic6 {
  bottom: 10%; }

.feedback__avatar--pic7 {
  right: 40%; }

.pagination {
  position: fixed;
  top: 15%;
  right: 5%;
  z-index: 15; }

.pagination__item {
  margin-bottom: 0.9375rem; }
  .pagination__item:last-child {
    margin-bottom: 0; }

.pagination__link {
  display: block;
  position: relative; }
  .pagination__link:before {
    display: block;
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    background-color: #fff; }
  .pagination__link:hover:after {
    content: '';
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 1px solid #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10; }

/*# sourceMappingURL=main.css.map */