.pagination {
    position: fixed;
    top: 15%;
    right: 5%;
    z-index: 50;

    @include tablets {
        display: none;
    }
}

.pagination__item {
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
}

.pagination__link {
    display: block;
    position: relative;
    &:before {
        display: block;
        content: '';
        @include circle(8px, #fff);
    }
    
}

.pagination__link--active {
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }
}