.best {
    background: url(../img/best_section/bg.jpg) 0 0 no-repeat;
    background-size: cover;

}

.title--best {
    text-align: center;
    margin-bottom: rem(30px);

    @include phones {
        font-size: rem(50px);
        padding-left: rem(25px);
        margin-bottom: rem(20px);
    }
}

.best__list {
    display: flex; 
    justify-content: space-between;

    @include phones {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

.best__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: calc(100%/3);

    @include phones {
        flex-direction: row;
        width: 100%;
        margin-boёttom: rem(45px);
    }
}

.best__item div {
    text-align: center;

    @include phones {
        text-align: left;
        margin-right: rem(25px);
        &:last-child {
            margin-right: 0;
        }
    }
}

.best__item svg {
    width: rem(97px);
    height: rem(89px);
}

.best__item h3 {
    font-family: "lifehack";
    font-size: rem(25px);
    line-height: 1.27;
    margin-bottom: rem(13px);

    @include phones {
        margin-bottom: rem(10px);
    }
}

.best__item p {
    margin: 0;
    font-size: rem(14px);
    font-weight: 300;
    line-height: 1.7;
}