.header {
	// @include clearfix;
	// padding-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: rem(9px);
}

.header__logo {
	// float: left;
	// width: 31%;
	// margin-right: 6px;
}

.header__navigation {
	// float: left;
	// padding-top: 30px;
	// margin-right: 3px;
	display: flex;
}

.nav__list {
	font-size: 0;
	display: flex;
	align-items: center;
	margin-right: rem(15px);
	// margin-right: 20px;
}

.nav__item {
	display: flex;
	align-items: center;
	&:after {
		content: '';
		@include circle (4px, #fff);
		display: flex;
		margin-left: 15px;
		margin-right: 15px;
	}
	&:last-child:after
	{
			display: none;
	}
}


.nav__link {
	font-family: 'ubuntu';
	font-weight: 500;
	font-size: 13px;
	color: #fff;
	letter-spacing: 0.06px;
	text-transform: uppercase;
}

.order {
	// padding-top: 20px;
	display: flex;
}

.order__btn {
	display: inline-block;
	border-radius: 5px;
	padding: rem(9px) rem(17px);
	font-size: rem(13px);
	color: #fff;
	text-transform: uppercase;
	background-color: $orange;
	&:hover {
		background-color: darken($color: $orange, $amount: 20%);
	}
}