.hello-block {
    background: url(../img/hello_section/video-bg.jpg) 0 0 no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.hello-block__inner-container {
    display: flex;
    justify-content: flex-start;
}

.hello-block__container {
    display: flex;
    flex: 0.8;
}

.hello-block__content {
    display: flex;
    align-items: center;
    padding-left: 3%;
    align-self: center;
}

.hello-block__pic-wrap {
    float: left;
    position: relative;
    width: 50%;
}

.hello-block__picture {
    width: 100%;
}

.hello-block__slogan {
    width: 50%;
    padding-top: rem(30px);
}

.title--slogan {
    color: $yellow;
}

.slogan__text {
    font-size: rem(65px);
    font-family: "lifehack";
    color: #fff;
    line-height: 0.98;
}

.forward-arrow {
    position: absolute;
    bottom: 9%;
    left: 49.5%;
}

.forward-arrow__pic {
    width: 29px;
    height: 14px;
    fill: white;
}