.hello-block {
    background: url(../img/hello_section/video-bg.jpg) 0 0 no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.hello-block__inner-container {
    display: flex;
    justify-content: flex-start;
}

.hello-block__container {
    display: flex;
    flex: 0.8;

    @include tablets {
        align-items: center;
        width: 100%;
    }
}

.hello-block__content {
    display: flex;
    align-items: center;
    padding-left: 3%;

    @include tablets {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }
}

.hello-block__pic-wrap {
    width: 50%;

    @include tablets {
        width: 100%;;
    }
}

.hello-block__picture {
    width: 100%;
    max-width: 480px;
    min-width: 360px;
}

.hello-block__slogan {
    width: 50%;
    padding-top: rem(30px);
    
    @include tablets {
        padding-top: 0;
        width: 90%;;
    }
}

.title--slogan {
    color: $yellow;
    white-space: nowrap;
}

.slogan__text {
    font-size: rem(65px);
    font-family: "lifehack";
    color: #fff;
    line-height: 0.98;
}

.forward-arrow {
    position: absolute;
    bottom: 9%;
    left: 49.5%;
}

.forward-arrow__pic {
    width: 29px;
    height: 14px;
    fill: white;
}