.menu {
    background: url(../img/menu_section/menu-bg.jpg) 0 0 no-repeat;
    background-size: cover;
    position: relative;
}

.title--menu {
    position: absolute;
    top: 13%;
    left: 9%;
    color: white;
}

.menu__right-col {

}

@each $title-bg in (meat, vegetarian, diet) {
    .h-accordeon__trigger--#{$title-bg} {
        background: url(../img/menu_section/accord_#{$title-bg}.jpg) center center / cover no-repeat;
    }
}

.h-accordeon__list {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    background-color: rgba(47, 50, 52, .93);
}

.h-accordeon__item {
    display: flex;
    height: 100%;
}

.h-accordeon__content {
    width: 0;
    display: none;
    overflow: hidden;
    height: 100%;
    padding-top: 10px;
}

.h-accordeon__content--active {
    width: 540px;
    display: block;
}


.h-accordeon__trigger {
    display: block;
    height: 100%;
    width: 80px;
    width: rem(80px);
    position: relative;
}

.h-accordeon__title {
    font-family: 'gagalin';
    color: white;
    font-size: 40px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    left: 50%;
    top: 100%;
    margin-top: -20px;
}


