.section--menu {
    background: url(../img/menu_section/menu-bg.jpg) 0 0 no-repeat;
    background-size: cover;
    position: relative;
}

.title--menu {
    position: absolute;
    top: 13%;
    left: 9%;
    color: white;
}

.menu__right-col {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    background-color: rgba(47, 50, 52, .93);
}

.h-accordeon {
    height: 100%;
}

.h-accordeon__list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}

.h-accordeon__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.h-accordeon__content {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    align-self: flex-start;
    padding-top: 10px;
}

.h-accordeon__content--active {
    width: 540px;
    white-space: normal;
}


.h-accordeon__title {
    font-family: 'gagalin';
    color: white;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    width: 80px;
    line-height: 100%;
    font-size: 40px;
    height: 100%;
    align-self: flex-end;
    padding-top: 43px;
    padding-left: 15px;
    background-size: cover;
}

@each $title-bg in (meat, vegetarian, diet) {
    .h-accordeon__title--#{$title-bg} {
        background: url(../img/menu_section/accord_#{$title-bg}.jpg) center center no-repeat;
    }
}


