.team {
	background: url(../img/team_section/team-bg.jpg) 0 0 no-repeat;
	background-size: cover;
	position: relative;
}

.team__right-col {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(47, 50, 52, .93);
	display: flex;
	justify-content: center;
	align-items: center;

	@include tablets {
		width: 100%;
	}
}
.team__content {
	width: 70%;
	padding-left: rem(10px);

	@include tablets {
		text-align: center;
		align-items: center;
	}
}

.title--team {
	color: $yellow;
	margin-bottom: rem(25px);
}


.v-accordeon__item {
	margin-bottom: rem(22px);
	
	@include tablets {
		margin-bottom: 0;		
	}
}

.v-accordeon__content {
	display: flex;
	overflow: hidden;
	justify-content: space-around;
	height: 0;

	@include tablets {
		flex-direction: column;
		align-items: center;
		margin-bottom: rem(20px);
	}
}

.v-accordeon__item--active {
	.v-accordeon__name{
		color: $yellow;
		&:before {
			content: '';
			display: inline-block;
			@include arrow (6px, $yellow, 'up');
			margin-right: rem(5px);
		}
	}
	.v-accordeon__content {
		min-height: rem(125px);
		height: auto;
	}

}

.v-accordeon__name {
	display: flex;
	align-items: center;
	font-family: 'gagalin';
	font-size: rem(14px);
	color: #fff;
	margin-bottom: rem(10px);
	&:before {
		content: '';
		display: block;
		@include arrow (6px, white, 'down');
		margin-right: rem(5px);
	}

	@include tablets {
		justify-content: center;
		font-size: rem(25px);	
	}
}

.pic-wrap {
	overflow: hidden;
	@include circle (100px, #fff);
	position: relative;
	margin-right: rem(11px);

	@include tablets {
		margin-bottom: rem(20px);
		margin-right: 0;	
	}
}

.content__img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content__description {
	width: 60%;

	@include tablets {
		text-align: center;	
	}
}

.content__title {
	font-size: rem(14px);
	font-weight: 700;
	color: #fff;
	margin-bottom: rem(16px);
}

.content__text {
	font-size: rem(14px);
	font-weight: 300;
	color: #fff;
	line-height: 1.6;
}