.team {
	background: url(../img/team_section/team-bg.jpg) 0 0 no-repeat;
	background-size: cover;
	position: relative;
}

.team__right-col {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(47, 50, 52, .93);
	display: flex;
	justify-content: center;
	align-items: center;
}
.team__content {
	display: flex;
	flex-direction: column;
	width: 70%;
	// padding-top: 90px;
	padding-left: rem(10px);
}

.title--team {
	color: $yellow;
	margin-bottom: rem(25px);
}

.v-accordeon {
	display: flex;
}


.v-accordeon__item {
	display: flex;
	flex-direction: column;
	margin-bottom: rem(22px);
}

.v-accordeon__content {
	display: flex;
	overflow: hidden;
	justify-content: space-around;
	height: 0;
}

.v-accordeon__item--active {
	.v-accordeon__name{
		color: $yellow;
		&:before {
			content: '';
			display: inline-block;
			@include arrow (6px, $yellow, 'up');
			margin-right: rem(5px);
		}
	}
	.v-accordeon__content {
		min-height: rem(125px);
		height: auto;
	}

}

.v-accordeon__name {
	display: flex;
	align-items: center;
	font-family: 'gagalin';
	font-size: rem(14px);
	color: #fff;
	margin-bottom: rem(10px);
	&:before {
		content: '';
		display: block;
		@include arrow (6px, white, 'down');
		margin-right: rem(5px);
	}
}

.pic-wrap {
	display: flex;
	overflow: hidden;
	@include circle (100px, #fff);
	position: relative;
	margin-right: rem(11px);
}

.content__img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content__description {
	text-align: left;
	width: 60%;
}

.content__title {
	font-size: rem(14px);
	font-weight: 700;
	color: #fff;
	margin-bottom: rem(16px);
}

.content__text {
	font-size: rem(14px);
	font-weight: 300;
	color: #fff;
	line-height: 1.6;
}