.section--team {
	background: url(../img/team_section/team-bg.jpg) 0 0 no-repeat;
	background-size: cover;
	position: relative;
}

.team__right-col {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	background-color: rgba(47, 50, 52, .93);
}
.team__content {
	padding-top: 90px;
	padding-left: 100px;
}

.title--team {
	color: $yellow;
	margin-bottom: 25px;
}

.v-accordeon__item {
	width: 366px;
	margin-bottom: 22px;
}

.v-accordeon__content {
	padding-left: 20px;
	overflow: hidden;
	height: 0;
}

.v-accordeon__item--active {
	.v-accordeon__name{
		color: $yellow;
		&:before {
			content: '';
			display: inline-block;
			@include arrow (6px, $yellow, 'up');
			margin-right: 5px;
		}
	}
	.v-accordeon__content {
		height: initial;
	}

}

.v-accordeon__name {
	text-align: left;
	font-family: 'gagalin';
	font-size: 14px;
	color: #fff;
	margin-bottom: 10px;
	&:before {
		content: '';
		display: inline-block;
		@include arrow (6px, white, 'down');
		margin-right: 5px;
	}
}

.pic-wrap {
	display: inline-block;
	overflow: hidden;
	@include circle (100px, #fff);
	position: relative;
	margin-right: 11px;
}

.content__img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content__description {
	display: inline-block;
	text-align: left;
	width: 60%;
	vertical-align: top;
}

.content__title {
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 16px;
}

.content__text {
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	line-height: 1.6;
}